*{
  margin: 0;
  padding: 0;
  border: 0;
}

/*Documento App.js*/
/*Header de la pagina*/
.App {
  text-align: center;
  padding: 10px 0;
  background: url('./img/fondo.jpg') no-repeat;
  background-size: cover;
  height: 700px;
}

#logo{
  width: 80px;
  height: 90px;
}

.head-page{
  border: 1px;
  width: 80%;
  background: #484ace;
  margin: auto;
  text-align: left;
}

#logo, h1{
  display: inline-block;
  width: 90px;
  height: 100px;
}

h1{
  text-align: center;
  font-size: 5em;
}

.Nav-Menu{
  width: 80%;
  margin: auto;
}

.button-menu{
    background: #484ace;
    width: 25%;
    color: white;
    height: 50px;
    border: 1px solid;
}

.content{
  width: 80%;
  margin: auto;
  height: 500px;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

/*Contenido del documento Home.js*/

#About-us{
  text-align: left;
  padding: 1em;
}

h2{
  text-align: center;
}

.text-center{
  text-align: center;
}

.text-justify{
  text-align: justify;
}

/*Contenido del documento Millonaire.js*/

.millonaire{
  width: 80%;
  background: url('./img/fondo_juego2.jpg') no-repeat;
  height: 100%;
  background-size: cover;
  margin: auto;
}

.button-answer{
    background: #a6a7da;
    margin-left: 10px;
    margin-top: 10px;
    width: 40%;
    height: 25px;
}

.contentGame{
  position: absolute;
  top: 270px;
  left: 630px;
  width: 30%;
}

#question2{
  color: black;
}
